@import '../../../../styles/variables';
.data-table-container{
  background: #fff;
  .spinner{
    text-align: center;
    padding: 12px 18px;
    border-top:1px rgba(223,223,223,1);
  }
  table{
    box-shadow:none;
    -webkit-box-shadow:none;
  }
  .dt-header{
    padding:12px 18px;
  }
  .dt-footer{
    padding:12px 18px;
    text-align: right;
  }
  .mdl-selectfield__select{
    width: auto;
    display: inline-block;
  }
  .mdl-selectfield{
    width: auto;
    padding: 0;
    margin-left: 10px;
  }
}
