<template>
  <p class="slider-label" >
    ${label}
  </p>
  <div class="slider-knob mdl-shadow--2dp ${canvas?'mdl-color--green-A400':'mdl-color--blue-500'}" style="" click.trigger="toggleSlider($event)">
    <span style="margin-top:8px;display:inline-block">
      <span if.bind="label!='Wave' && label !='Octave'">${val | offset:displayOffset}</span>
      <template if.bind="label==='Wave'">
        <span>${waves[val]}</span>
      </template>
      <template if.bind="label==='Octave'"><span>${val-3}</span></template>
    </span>
  </div>
  <!-- <div class=" mdl-color-text--white center-align" css="margin-bottom:12px;display:inline-block;vertical-align:middle;padding:0px;text-align:center;${channel==='tempo'?'':'width:100%;padding-left:5px;'}">

    <div class="" style="float:left;">

      <input class="mdl-textfield__input text-center" type="number" change.delegate="change()" value.bind="val" style="margin-top:6px;margin-bottom:6px;margin-right:auto;margin-left:auto;display:block;width:30px;border-bottom:1px solid #fff;">

    </div>


  </div> -->

  <div class="slider ${canvas?'green-handle':''}">

  </div>
  <input type="number" if.bind="label!='Wave'" value.bind="temp" class="slider-num" change.delegate="updateFromField()" min="${min}" max="${max}">
  <div class="slider-overlay ${isOpen?'open':''}" click.trigger="toggleSlider($event)"></div>
</template>
