<template>
  <div class="mdl-color--blue-500 mdl-color-text--white center-align b-radius-card" css="margin-bottom:12px;display:inline-block;vertical-align:middle;padding:0px;text-align:center;padding-left:5px;${channel==='tempo'?'':'width:100%;'}">

    <div class="" style="float:left;">
      <p class="slider-label" >
        ${label}
      </p>
      <input class="mdl-textfield__input text-center" type="number" change.delegate="change()" value.bind="val" style="margin-top:6px;margin-bottom:6px;margin-right:auto;margin-left:auto;display:block;width:30px;border-bottom:1px solid #fff;">

    </div>
    <div style="float:right">
      <button class="mdl-button mdl-js-button mdl-button--icon" style="display:block;" click.delegate="add()">
        <i class="material-icons">add</i>
      </button>
      <button class="mdl-button mdl-js-button mdl-button--icon" click.delegate="minus()">
        <i class="material-icons">remove</i>
      </button>

    </div>

  </div>
  <p  style="margin-bottom:0px;" if.bind="noSlider">
    <input class="mdl-slider mdl-js-slider" type="range" id="s1" min="${min}" max="${max}" value.bind="val" step="1">
  </p>
</template>
