$body-bgcolor: #fff;

body{
  background-color: $body-bgcolor ;
}
.topimg{
  background: url('images/IMG_1066.jpg') top/cover no-repeat;
  width: 100%;
  margin-bottom:0;
  position:fixed;
  z-index:0;
  padding:0;
  height:400px;

  div{
    width:100%;
    height:100%;
  padding-top: 45px;
    color:#fff;
  }
}
.me-img{
  background: url('images/me.jpg')top/cover no-repeat;
  width: 75px;
  height: 75px;
  border-radius: 75px;
  margin-right: 10px;

}
.card .row .col{
  background: transparent !important;
}
.pane1{
  z-index:1;
  margin-top:400px;
  background: #fff !important;
  position: relative;
  margin-bottom: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2), 0 -2px 3px 0 rgba(0,0,0,0.14), 0 -3px 5px 0 rgba(0,0,0,0.12), 0 -3px 5px 3px rgba(0,0,0,0.2);
  div.col{
    background: #fff !important;
  }
}
.pane2{
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  background: url('images/IMG_0983.jpg') top/cover no-repeat;
  height: 400px;
  margin-top: -15px;
  position: relative;
  padding-top: 200px;
}
.btn-sm{
  padding: 0 0.5rem;
}
nav .brand-logo,
.brand-logo{
  margin-left: 15px;
  font-size: 18px;
}
[md-tabs] .waves-effect {
  position: static;
}
.parallax-container{
  height: 800px;
}
.b-radius-card{
  border-radius: 0 0 2px 2px;
}
.b-radius{
  border-radius: 2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
}
.switch label input[type=checkbox]:checked+.lever{
  background-color: #64b5f6 ;
}
.switch label input[type=checkbox]:checked+.lever:after{
  background-color: #2196f3;
}
.ui-range{
  .noUi-active.noUi-handle{
    width: 15px;
    height: 15px;
    left: -5px;
    top:-6px;
  }
  .noUi-handle{
    background-color: #2196f3 !important;
    .noUi-tooltip{
      background-color: #2196f3 !important;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    }
  }
  .noUi-value.noUi-value-horizontal.noUi-value-large{
    display: none;
  }
}
.p2 path{
  fill:#2196f3;
  stroke:none;
  // filter:url(#dropshadow);
}
.p2 path:first-child{
  stroke:none;
  fill:#fff;
  filter:none

}
div.au-animate.au-enter{
  display: none !important;
}
div.au-animate.au-enter-active{
 display: initial;
 -webkit-animation: blurIn 2s;
    animation: blurIn 2s;
}
div.au-animate.au-leave-active{
  -webkit-animation: blurOut 2s;
    animation: blurOut 2s;
}
#synth,
#sequencer-controller{
  .p2 path:first-child{
    fill:#eee;
  }
  .p2 path{
    stroke:none;
    fill:#00E676;

  }
}
canvas{
  transition: all 0.3s ease-in-out;
}
.indicator{
  background: #2196f3 !important;
}
ul.tabs.blue{
  .indicator{
    background: #ffffff !important;
  }
}
ul.tabs{
  overflow-x: auto;
  li{
    a.active{
      color: #2196f3 !important;
    }
    a.white-text{
      color:#fff !important;
    }
    a.white-text.active{
      color:#fff !important;
    }
    a{
      color:#343434 !important;
    }
}

.showcase-tabs{



  }
}

@media only screen and(max-width:992px){
  .topimg{
    height: 100%;
  }
  .pane1{
    margin-top: 163%;
  }
}
@-webkit-keyframes blurIn {
    0%   { -webkit-filter:blur(10px) }
    100% { -webkit-filter:blur(0px) }
}

@keyframes blurIn {
    0%   { filter:blur(10px) }
    100% { filter:blur(0px) }
}

@-webkit-keyframes blurOut {
    0%   { -webkit-filter:blur(0px) }
    100% { -webkit-filter:blur(10px) }
}

@keyframes blurOut {
    0%   { -webkit-filter:blur(0px) }
    100% { -webkit-filter:blur(10px) }
}
@media only screen and (max-width: 992px){
  nav .brand-logo {
      left: initial !important;
      -webkit-transform: none !important;
      transform: none !important;
  }
}
