$body-bgcolor: #eee;

body{
  background-color: $body-bgcolor ;
}
nav .brand-logo,
.brand-logo{
  margin-left: 15px;
  font-size: 18px;
}
[md-tabs] .waves-effect {
  position: static;
}
.parallax-container{
  height: 800px;
}
.b-radius-card{
  border-radius: 0 0 2px 2px;
}

.showcase-tabs{
   border-bottom: 1px solid rgba(160,160,160,0.2);
  .indicator{
    background: #2196f3 !important;
  }
  li{
    a.active{
      color: #2196f3 !important;
    }
    a{
      color:#343434 !important;
    }
  }
}
@media only screen and (max-width: 992px){
  nav .brand-logo {
      left: initial !important;
      -webkit-transform: none !important;
      transform: none !important;
  }
}
