.card-content .row{
  margin: 0;
}
.card-left{
  display: table-cell;
  /*border-right: 1px solid #f5f5f5;*/
  height: 100%;
  padding: 0 20px;
}
.card-right{
  display: table-cell;
  /*border-left: 1px solid #f5f5f5;*/
  height: 100%;
  padding: 0 20px;
}
.card-right>div,
.card-left>div{
  height: 20%;
}
md-card>.card{
  background-color: inherit;
}
.input-field.inline.col.m4{
  text-align: center;
}
label.sm{
  font-size: 0.8rem;
  /*position: absolute !important;*/
  top:-14px !important;
  left: 0rem !important;
}
.select-wrapper{
  margin-top: 0px;
}
.select-wrapper+label{
  color:#343434 !important;
}
.tab-content.grey{

}
sound-wave{
  position: absolute;
  border-radius: 2px;
  overflow: hidden;
  z-index: 0;
  // height: 100%;
  // width: 100%;
  // top:0;
  canvas{
    height:100%;
    width:100%
  }
}
.canvas-as-bg{
  p{
    color: #fff !important
  }
}
// #synth{
//   background: -webkit-canvas(synthbg) no-repeat 50% 50%;
// }
// #synth{
//   background: -webkit-canvas(seqbg) no-repeat 50% 50%;
// }
#synth,
#sequencer-controller{
  background: #2196f3;
  #synthfilter{
    z-index: 1;
    position: relative;
  }
  .p2 rect,
  .p1 rect{
    fill:#00E676 ;
  }
  .p2 circle,
  .p1 circle{
    stroke:#00E676 ;
  }
  .p1 text{
    fill: #ddd;
  }
  .p1 text.active{
    fill:#fff;
  }
}
.p2 rect,
.p1 rect {
  fill: #2196f3;
}
.p2 g polygon,
.p1 g polygon {
  opacity: 1;
}
.p2 circle,
.p1 circle {
  fill: #fff;
  stroke: #2196f3;
  stroke-width: 2;
  -webkit-filter: url(#dropshadow);
   filter: url(#dropshadow);
}

.p1 text {
  font-size: 10px;
  fill: rgba(0, 0, 0, 0.870588);
  font-family: sans-serif;
  font-weight: 300;
  -webkit-transition: all .1s ease-in-out;
}

.p1 text.active {
  font-size: 12px;
  -webkit-transition: all .3s ease-in-out;
  fill:#2196f3;
}
svg:not(:root){
  overflow: visible;
}


.wave-shape{
  width: 36px;
  padding: 0;
}
#right form,
#left form{
  padding: 0;
}
#left form>div:first-child{
  padding-left: 0;
}

#right form>div:last-child{
  padding-right: 0;
}
.dropdown-content li>span{
  color:#2196f3 !important;
}
input:focus:not([type]):not([readonly]), input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}
input:not([type]):focus:not([readonly])+label,input[type=text]:focus:not([readonly])+label,input[type=password]:focus:not([readonly])+label,input[type=email]:focus:not([readonly])+label,input[type=url]:focus:not([readonly])+label,input[type=time]:focus:not([readonly])+label,input[type=date]:focus:not([readonly])+label,input[type=datetime]:focus:not([readonly])+label,input[type=datetime-local]:focus:not([readonly])+label,input[type=tel]:focus:not([readonly])+label,input[type=number]:focus:not([readonly])+label,input[type=search]:focus:not([readonly])+label,textarea.materialize-textarea:focus:not([readonly])+label {
	color:#2196f3;
}
input[type="range"]+.thumb{
  background: #2196f3;
}
.range-field.inline input[type="checkbox"]{
  margin-top: 10px;
}
input[type=range]::-webkit-slider-thumb {
    background-color: #2196f3;
  }
  input[type=range]::-moz-range-thumb {
    background-color: #2196f3;
  }
  input[type=range]::-ms-thumb {
    background-color: #2196f3;
  }
.range-field.inline input{
  width:100%;
}
.range-field.inline label{
  display: block;
  text-align: left !important;
}
.mute-label{
  color:#9e9e9e;
}
td{
  padding: 5px;
}
section {
    margin: 0;
}
.waves-effect.waves-blue .waves-ripple {
/*
  The alpha value allows the text and background color
  of the button to still show through.
*/
  background-color: rgba(3, 169, 244, .65)
}
.navbar-nav li.loader {
    margin: 12px 24px 0 6px;
}

.pictureDetail {
    max-width: 425px;
}

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay:50ms;
  animation-delay:50ms;
}
.black0{
  margin-left: 24px;
}
.black1{

}
.black2{
  margin-left: 48px;
}
.black3{

}
.black4{

}
.black5{
  margin-left: 48px;
}
.black6{

}
.white-notes{
  /*top:-89px;*/
  position: relative;
  margin-top: -90px;
  z-index: 1;
}
.black-notes{
/*  position:absolute;*/
  z-index: 2;
}
