form.col.s12{
  padding: 0;
  margin-bottom:0.75rem;
  .row{
    padding: 0.75rem;

  }

}
#sequencer-controller{
  p{
    color:#fff;
  }
}
#sequencer-mixer,
#sequencer-notes{
  width:100%;
}
@media only screen and (max-width: 600px){
  tr>td{
    padding: 5px 1px;
  }
  tr>td:first-child{
    padding: 5px;
  }
}
.drum-mixer{
  ul{
    list-style: none;
    padding-left: 0;
    li{
      list-style: none;
      margin-bottom: 15px;
    }
    li:nth-child(odd){
      background: #fff;
    }
  }
}
.drum-mixer>ul>li>div{
  display: inline-block;
  width: 75px;
}
